<div class="d-flex justify-content-between align-items-center mb-4 page-header-light shadow">
  <div class="d-flex align-items-center">
    <%= link_to return_path, class: "btn btn-outline-secondary btn-sm me-3" do %>
      <i class="fa fa-arrow-left"></i> <!-- Ícone de Voltar -->
    <% end %>
    <h1 class="h4 mb-0"><%= page_title %></h1>
  </div>
  <!-- Botão para Criar Novo Registro -->
  <%= link_to new_path, class: "btn btn-incluir d-flex align-items-center justify-content-end" do %>
    <i class="fa fa-plus me-2"></i> <%= new_label %>
  <% end %>
</div>
<div class="page-header-content d-lg-flex border-top"></div>
