<div class="container-fluid " id="inicio"  >
  <h1 class="header-title mt-5 mb-4">Gerenciamento  </h1>
  <!-- Barra de Pesquisa -->
  <div class="search-bar">
    <input type="text" class="form-control" id="searchInput" placeholder="Pesquise por nome ou tipo..." />
  </div>
  <!-- Tabela com Dados de Estabelecimentos -->
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped" id="tableEstabelecimentos">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Tipo</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Caso não haja dados -->
  <div class="alert alert-info" role="alert">
    Não há estabelecimentos cadastrados.
  </div>
</div>
<style>
  .table thead th {
  background-color: #007bff;
  color: white;
  }
  .btn-action {
  font-size: 1.1rem;
  }

  .search-bar {
  margin-bottom: 20px;
  }
  .alert-info {
  margin-top: 20px;
  }
  .btn-success {
  margin-bottom: 20px;
  }


  .header-title {
  font-size: 2rem;
  color: #007bff;
  }
  .card {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  #inicio{
    margin-top: 100px;
  }
</style>