<div id="<%= dom_id users_estabelecimento %>">
  <p>
    <strong>User:</strong>
    <%= users_estabelecimento.user_id %>
  </p>

  <p>
    <strong>Estabelecimento:</strong>
    <%= users_estabelecimento.estabelecimento_id %>
  </p>

</div>
