  <% content_for :context_nav do %>
  <div class="d-flex justify-content-between align-items-center mb-4 page-header-light shadow">
    <div class="d-flex align-items-center">
      <%%= link_to root_path, class: "btn btn-outline-secondary btn-sm me-3" do %>
        <i class="fa fa-arrow-left"></i> <!-- Ícone de Voltar -->
        <%% end %>
        <h1 class="h4 mb-0"><%%= t("common.<%= plural_table_name %>", default: "<%= plural_table_name.humanize %>") %></h1>
      </div>
      <!-- Botão para Criar Novo <%= singular_table_name.humanize %> -->
      <%%= link_to new_<%= singular_table_name %>_path, class: "btn btn-incluir d-flex align-items-center" do %>
      <i class="fa fa-plus me-2"></i> <%%= t("common.new_<%= singular_table_name %>", default: "Incluir") %>
      <%% end %>
    </div>
  <% end%>