@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --main-color: rgb(255, 255, 255);
}

.message {
  color: var(--main-color);
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.6;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"),
    linear-gradient(45deg, #000000, #000000);
  background-size: cover, 400% 400%;
  background-blend-mode: overlay;
  animation: gradientAnimation 15s ease infinite;
}

body,
h1,
h2,
h3,
p {
  font-family: "Nunito", sans-serif;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

em {
  color: white;
}

p {
  color: white;
}

.form-control {
  width: 100%;
}

.btn-submit:hover {
  background-color: #4294e5;
}

/* Responsividade */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-info,
  .login-form {
    padding: 2rem;
  }
}
