@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css");
/* Importando as fontes do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100%;
}

/* Container principal */
.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/* Estilos do Footer */
.footer {
  margin-top: auto;
  width: 100%;
}
.content-wrapper {
  flex: 1;
}
.page-content .content-wrapper {
  margin-top: 90px; /* Adiciona o espaçamento superior */
}

.content-wrapper .navbar-static {
  z-index: 1021;
}

/* Títulos E Textos*/
a {
  color: #161616;
  font-weight: bold;
}

h1.h4.mb-0 {
  color: #000000;
}
mb0 {
  color: #222;
}
h1,
h2,
h3,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  color: #222;
}

h1.mb-4,
mb0 {
  color: #222;
}

p,
li,
span {
  color: white;
  font-weight: 400;
}

strong,
b {
  font-weight: 600;
}

.nav-link {
  color: #161616 !important;
}

/* SIDEBAR */

.sidebar[data-background-color="dark"] {
  background: #005171 !important;
}

.logo-header[data-background-color="dark"] {
  background: #005171 !important;
}

.sidebar .nav.nav-secondary>.nav-item a:hover i,
/* cores ícones do sidebar */
.sidebar .nav.nav-secondary>.nav-item a:focus i,
.sidebar .nav.nav-secondary>.nav-item a[data-toggle=collapse][aria-expanded=true] i,
.sidebar[data-background-color="white"] .nav.nav-secondary>.nav-item a:hover i,
.sidebar[data-background-color="white"] .nav.nav-secondary>.nav-item a:focus i,
.sidebar[data-background-color="white"] .nav.nav-secondary>.nav-item a[data-toggle=collapse][aria-expanded=true] i {
  color: #ffffff !important;
}

.sidebar
  .nav.nav-secondary
  > .nav-item
  a[data-toggle="collapse"][aria-expanded="true"]:before,
.sidebar[data-background-color="white"]
  .nav.nav-secondary
  > .nav-item
  a[data-toggle="collapse"][aria-expanded="true"]:before {
  background: #ffffff !important;
}

.sidebar .nav.nav-secondary > .nav-item.active a:before,
.sidebar[data-background-color="white"]
  .nav.nav-secondary
  > .nav-item.active
  a:before {
  background: #ffffff !important;
}

.sidebar .nav.nav-secondary > .nav-item.active a i,
.sidebar[data-background-color="white"]
  .nav.nav-secondary
  > .nav-item.active
  a
  i {
  color: #ffffff !important;
}

.sidebar .nav.nav-secondary>.nav-item .nav-collapse li.active>a,
/* cores scroll do sidebar */
.sidebar[data-background-color="white"] .nav.nav-secondary>.nav-item .nav-collapse li.active>a {
  color: #ffffff !important;
}

.display-6 {
  justify-content: center;
  display: flex;
  color: white;
  width: 300px;
}

/* NAVBAR */
.main-header {
  background: #005171 !important;
  min-height: 60px;
  width: calc(100% - 250px);
  position: fixed;
  z-index: 1001;
}

.main-header .navbar-header {
  min-height: 10vh;
}

.main-header .navbar-header .btn-toggle {
  margin-right: 30px;
  margin-left: 20px;
}

.navbar .navbar-nav .nav-item .nav-link i {
  color: white;
  font-size: 16px;
  vertical-align: middle;
  line-height: 1 !important;
}

/* Botões */
.btn-voltar {
  background-color: #f5f5f5;
  border-color: #adadada3;
  border-radius: 0.75rem;
}

.btn-voltar:hover {
  background-color: #f5f5f5;
  border-color: #adadada3;
}

.fa-exclamation-circle:before {
  color: black;
}

/* BUTTONS CUSTOMIZADOS */
.btn-incluir {
  margin-top: 20px;
  padding: 0.65rem 1.4rem;
  background-color: #1572e8;
  /* Verde */
  color: white;
  border: none;
  border-radius: 0.75rem;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s;
}

.btn-incluir:hover {
  background-color: #1572e8;
  color: white;
}

.btn-incluir i {
  margin-right: 8px;
}

.btn-secondary {
  font-family: Arial, Helvetica, sans-serif;
  background: #d9d9d9 !important;
  background-color: #d9d9d9; /* Cor do botão secundário */
  border-color: #000000 !important;
  margin-top: 20px;
  padding: 0.65rem 1.4rem;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 0.75rem;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:disabled {
  color: #000000 !important;
  background: #d9d9d9 !important;
  border-color: #000000 !important;
}

#searchButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#searchButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#searchButton:active {
  background-color: #003f7f;
  transform: scale(0.98);
}

/* DATATABLES */

#funcoesTable th,
#funcoesTable td {
  border: 1px solid #ddd;
  padding: 12px;
}

#funcoesTable th {
  background-color: #f8f9fa;
  text-align: center;
}

#funcoesTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#funcoesTable th:last-child,
#funcoesTable td:last-child {
  border-right: none;
}

#funcoesTable tr {
  border-bottom: 1px solid #ddd;
}

/* Destacar o fundo e a cor do texto dos títulos da tabela */
.table-header {
  background-color: #007bff;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2em;
}

/* Ajustes para telas pequenas */
@media (max-width: 768px) {
  .page-content .content-wrapper {
    margin-top: 50px; /* Diminui o espaçamento superior em telas pequenas */
  }
}

/* Ajustes para dispositivos móveis (menor que 480px) */
@media (max-width: 480px) {
  .page-content .content-wrapper {
    margin-top: 50px; /* Diminui ainda mais o espaçamento em telas muito pequenas */
  }
}

/* INDEX SCAFFOLD */

.index-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  padding: 20px;
  margin-bottom: 45px;
}
.header-container {
  display: flex;
  align-items: center;
}

.notice-text {
  color: green;
}
.page-inner {
  padding: 2rem; /* Espaçamento interno da página */
}
.form-search {
  display: flex;
  align-items: center;
  gap: 3px;
  flex-wrap: nowrap;
  width: 100%;
}

.card {
  border: 1px solid #dee2e6; /* Cor da borda do card */
}
.form-control {
  border-color: #ced4da; /* Cor da borda do campo de entrada */
  width: 15% !important;
}

.pag-bar {
  padding-top: 1.6rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .table-responsive {
    margin-bottom: 1rem;
  }

  .table th,
  .table td {
    font-size: 12px;
    padding: 0.25rem;
  }

  .table .w-25 {
    width: 40%;
  }

  .table .w-50 {
    width: 60%;
  }

  .table td[data-label]:before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }

  .dropdown-menu {
    width: auto;
  }
}

/* FORM SCAFFOLD */
.page-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  padding: 31px;
  margin-bottom: 45px;
}
